.button {
	width: 38px;
	height: 38px;
	padding: 0;
	border: none;
	border-radius: 15px;
	background: no-repeat 0 0 / contain;
	cursor: pointer;
	outline: none;

	@media (--md-viewport) {
		width: 45px;
		height: 45px;
	}

	@media (--lg-viewport) {
		width: 60px;
		height: 60px;
	}

	&.type {
		&_rotate_ship {
			background-image: url('@/assets/rotate-ship-icon.png');
		}

		&_shuffle_ships {
			background-image: url('@/assets/auto.png');
		}

		&_start_battle {
			background-image: url('@/assets/start-battle.png');
		}

		&_cancel {
			background-image: url('@/assets/cancel.png');
		}
	}

	&.disabled {
		opacity: 0.3;
		pointer-events: none;
	}

	&:active {
		transform: scale(0.97);
	}
}
