.root {
	display: flex;
	flex-direction: column;
	gap: 70px;

	.draggable {
		display: flex;
		align-self: flex-start;
	}

	.buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		.fullWidth {
			flex: 0 0 100%;
		}

		.inactive {
			opacity: 0.3;
			pointer-events: none;
		}
	}
}
