.button {
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;

	&.type_ {
		&rotate_ship {
			width: 80px;
			height: 80px;
			border-radius: 15px;
			background: url('@/assets/rotate-ship.png') no-repeat 0 0 / cover;
		}
	}

	&:active {
		transform: scale(0.97);
	}
}
