.button {
	width: 80px;
	height: 80px;
	padding: 0;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	outline: none;

	&.type {
		&_rotate_ship {
			background: url('@/assets/rotate-ship-icon.png') no-repeat 0 0 / cover;
		}

		&_return {
			background: url('@/assets/123.png') no-repeat 0 0 / cover;
		}
	}

	&:active {
		transform: scale(0.97);
	}
}
