.table {
	position: relative;
	padding: var(--table-border-width);
	border-collapse: separate;
	border-image: url('@/assets/table-border.png');
	border-image-repeat: repeat;
	border-image-slice: 7;
	border-image-width: var(--table-border-width);

	.tr {
		height: var(--table-cell-size);
	}

	.td {
		position: relative;
		width: var(--table-cell-size);
		border: 1px solid var(--color-blue);
		transition: background-color 0.5s;

		&.bomb,
		&.damaged {
			&::before {
				position: absolute;
				z-index: 1;
				top: 1;
				left: 1;
				width: calc(var(--table-cell-size) - 2px);
				height: calc(var(--table-cell-size) - 2px);
				background-size: contain !important;
				content: '';
			}
		}

		&.bomb {
			&::before {
				background: url('@/assets/bomb.png') center no-repeat;
			}
		}

		&.damaged {
			&::before {
				background: url('@/assets/damaged.png') center no-repeat;
			}
		}
	}
}

.text {
	font-size: 1rem;
}

.root {
	position: relative;
}

.hidden {
	opacity: 0;
}
