.shipContainer {
	display: flex;
	align-items: center;

	&.rotation {
		&_90 {
			transform: rotate(90deg);
		}

		&_180 {
			transform: rotate(180deg);
		}

		&_270 {
			transform: rotate(270deg);
		}
	}

	.ship {
		display: table;
		padding: 0;
		border: none;
		background: url('@/assets/ships.png') no-repeat 0 0;
		outline: none;

		&.size {
			&_1 {
				background-position: 0 -208px;
				background-size: 483%;
			}

			&_2 {
				background-position: -112px -143px;
				background-size: 248%;
			}

			&_3 {
				background-position: 0 -71px;
				background-size: 165%;
			}

			&_4 {
				background-position: 0 0;
				background-size: 125%;
			}
		}

		.tr {
			height: var(--ship-cell-size);
		}

		.td {
			width: var(--ship-cell-size);
		}
	}

	.amount {
		display: flex;
		width: var(--table-cell-size);
		height: var(--table-cell-size);
		align-items: center;
		margin-left: 5px;
	}
}
