.invisible {
	visibility: hidden;
}

.ship {
	display: table;
	padding: 0;
	border: none;
	background: url('@/assets/ships.png') no-repeat 0 0;
	outline: none;

	&.size {
		&_1 {
			background-size: 483%;

			@media (--md-viewport) {
				background-position: 0 -152px;
			}

			@media (--lg-viewport) {
				background-position: 0 -208px;
			}
		}

		&_2 {
			background-size: 248%;

			@media (--md-viewport) {
				background-position: -83px -105px;
			}

			@media (--lg-viewport) {
				background-position: -112px -143px;
			}
		}

		&_3 {
			background-size: 165%;

			@media (--md-viewport) {
				background-position: 0 -52px;
			}

			@media (--lg-viewport) {
				background-position: 0 -71px;
			}
		}

		&_4 {
			background-size: 125%;

			@media (--md-viewport) {
				background-position: 0 0;
			}
		}
	}

	.tr {
		height: var(--ship-cell-size);
	}

	.td {
		width: var(--ship-cell-size);
	}
}
