* {
	box-sizing: border-box;
}

:root {
	--table-cell-size: 40px;
	--ship-cell-size: calc(var(--table-cell-size) - 2px);
	--color-light-green: rgb(221 247 221);
	--color-green: rgb(121 205 121);
	--color-red: rgb(234 114 114);
	--color-blue: rgb(183 229 239);
	--color-deep-blue: #4017c2;
}

body {
	background: url('@/assets/background.png') repeat 10px 20px / contain;
}
