.canAttack {
	@media (hover: hover) {
		&:hover {
			background: url('@/assets/explosion.png') center no-repeat;
			background-size: cover;
		}
	}
}

.inactive {
	opacity: 0.3;
	pointer-events: none;
}
